html {
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Georgia', sans-serif;
}

h1,
h3 {
	font-family: 'Brush Script MT', cursive;
}

h1 {
	color: rgb(131, 44, 213);
	text-align: center;
	font-size: 48px;
	text-shadow: black 0 0 10px;
}

p {
	background-color: plum;
}

div {
	text-align: center;
}

img {
	margin: 3px;
}

#image-1 {
	height: 150px;
	border-style: solid;
	border-color: mediumpurple;
	border-width: 5px;
}

#image-2 {
	width: 300px;
	border: dotted 5px darkgrey;
}

.emphasize {
	color: #dd2782;
	text-transform: uppercase;
}
